.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aquamarine;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px pink;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.donutButton {
    grid-row-start: 3;
    grid-column-start: 3;
    border-radius: 10px;
}

.donut-container {
    grid-row-start: 4;
    grid-column-start: 2;
    text-align: center;
}

#resetButton {
    grid-row-start: 6;
    grid-column-start: 2;
    border-radius: 10px;
    background-color: aquamarine;
    box-shadow: 0 4px 10px 6px purple;
}

.header-text {
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;
}

.auto-clicker-container {
    text-align: center;
    grid-row-start: 4;
    grid-column-start: 4;
}

#buyAutoClickerButton {
    border-radius: 10px;
    background-color: aquamarine;
    box-shadow: 0 4px 10px 6px purple;
    grid-row-start: 6;
    grid-column-start: 4;
}

body {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: pink;
}


